:root{
    --cor-fundo: #000000e8 ;
    --cor-principal: #170057 ;
    --cor-secundaria: #330161; 
    --cor-destaque: #07b18c;
    --cor-texto: #ffffff;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 360px;
}

h1{
    color: var(--cor-destaque);
}
